<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Change password</title>
    </head>
    <body>
        <h2>Change password</h2>
        <form method="POST" action="{% url 'home' %}">   
            {% csrf_token %}
            <button type="submit">Back</button>
        </form>
        <!--<form action="{% url 'pw_change' %}" method="GET"> -->
        <form action="{% url 'pw_change' %}" method="POST">
			{% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Update"/>
        </form>
    </body>
</html>